nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  min-height: 30vw;

  a {
    font-size: 3rem;
    border: solid black 3px;
    padding: 1rem;
    border-radius: 1rem;
    transition: 300ms;
  }
  a:hover {
    cursor: pointer;
    background-color: white;
    scale: 1.2;
  }
}
